@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

html {
    font-size: 14px;
}
body {
    background-color: rgba(233, 231, 231, 0.644);
}
header {
    display: none;
}
ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}
#main-content {
    width: 90%;
    margin: 0 auto;
}
.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}
.navbar-nav {
    width: 90%;
    margin: 0 auto !important;
    justify-content: space-between;
    flex-direction: row !important;
}
.nav-item {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}
.navi {
    font-size: 10px;
}
.display-content {
    padding: 0 0 60px 0 !important;
}
/* ホーム画面 */
.article-content {
    background-color: white;
    margin-top: 2rem;
}
.photo-area {
    display: flex;
    justify-content: center;
}
.photo {
    width: 330px;
    height: 150px;
    margin-top: 1rem;
    object-fit: cover;
}
.shop-introduction-content {
    width: 90%;
    margin: 0 auto;
}
.shopname {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.shopbrand {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.644);
}
.shopbrand p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.644);
    margin: 0;
}
.introduction {
    display: none;
}
/* 検索画面 */
.shop-search {
    display: flex;
    justify-content: space-between;
    width: 90% !important;
    margin: 0 auto;
    padding: 1rem 0 0 0;
}
.search-shop {
    width: 80%;
}
.search-button {
    width: 18%;
}
/* 店舗詳細画面 */
.salesperson-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.salesperson-area p {
    margin: 2rem 0 1rem 0;
}
.salesperson-content {
    margin-bottom: 1rem;
}
.favorite {
    color: rgb(241, 70, 107);
}
/* スタイリスト画面 */
.stylest-title {
    display: none;
}
.salesperson-detail-content {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}
.salesperson-detail-content li {
    margin-bottom: 2rem;
}
.profile {
    display: flex;
    align-items: center;
}
.profile dl {
    display: flex;
    margin: 0;
}
.profile dl div {
    margin-left: 2rem;
}
.stylest-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
/* マイページ */
.account {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px lightgray;
    display: flex;
    align-items: center;
}
.account span {
    margin-left: 2rem;
    font-weight: bold;
}
.consumer-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.account-item {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    align-items: center;
}
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-item-title {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    border-bottom: solid 1px lightgray;
    display: flex;
    align-items: center;
}
/* お気に入りショップ */
.favorite-introduction {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.644);
    margin: 0;
}
/* マイページのコーディネート画面 */
.coordinate-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px lightgrey;
}
.coordinate-item {
    width: 30%;
    margin-bottom: 2rem;
}
.coordinate-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: solid 1px;
}
.coordinate-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.add-coordinate {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 200px;
    border: solid 1px;
    margin-bottom: 2rem;
}
.coordinate-modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-coordinate-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 200px;
    border: solid 1px;
}
.coordinate-edit-submit {
    width: 100%;
    padding: 0;
    margin-top: 3rem;
}
/* マイページの設定画面 */
.config-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.config-title span {
    border-bottom: solid 2px lightgrey;
}
.config-img {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.config-img p {
    margin: 0;
    margin-left: 2rem;
}
.file-upload {
    display: none;
}
.upload-label {
    width: 60px;
    height: 30px;
    border: solid 2px white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 1rem;
}
.config-img-window {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.consumer-config-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.modal-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0 2rem 0;
}
.fa-camera {
    margin-right: 0.3rem;
    color: white;
}
.fa-times {
    padding-left: 1rem;
    color: white;
}
.submit-btn {
    display: flex;
    justify-content: center;
}
.profile-edit-submit {
    margin-top: 1rem;
    width: 30%;
}
/* PC画面 */
@media screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }
    header {
        display: flex;
        width: 100%;
        height: 40px;
        background-color: #464c56;
        color: white;
        border-bottom: 1px solid #333;
    }
    header p {
        font-family: 'Roboto Slab', serif;
        font-size: 1.5rem;
        display: inline-block;
        margin: 0 0 0.5rem 1rem;
    }
    .action {
        display: inline-flex;
        position: absolute;
        right: 1rem;
        bottom: 0;
    }
    .header-content {
        margin: 0 auto;
        width: 60%;
        border-right: 1px solid #545b66;
        border-left: 1px solid #545b66;
        position: relative;
    }

    .navbar {
        width: 15%;
        position: fixed;
        left: 0;
        top: 40px;
        display: flex;
        margin: 0 !important;
        padding: 0 !important;
    }
    .navbar-nav {
        width: 90%;
        margin: 0 auto !important;
        justify-content: center;
        flex-direction: column !important;
    }
    .nav-item {
        margin: 0 0 3rem 0 !important;
        padding: 0 !important;
        display: flex !important;
        flex-direction: row !important;
    }
    .navi {
        font-size: 1rem;
        margin-left: 1rem;
    }
    #main-content {
        width: 60%;
        margin: 0 auto;
    }
    /* ホーム画面 */
    .article-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
    }
    .photo {
        width: 330px;
        height: 280px;
        margin: 0.5rem 2rem 0.5rem 0.5rem;
        object-fit: cover;
    }
    .shop-introduction-content {
        height: 100%;
    }
    .shopname {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .introduction {
        display: block;
        width: 50%;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    /* 店舗詳細 */
    .shopbrand {
        margin-top: 2rem;
    }
    /* スタイリスト画面 */
    .stylest-title {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: solid 2px lightgrey;
    }
    /* マイページ */
    .consumer-img {
        width: 100px;
        height: 100px;
    }
    .account span {
        font-size: 1.5rem;
    }
    /* お気に入りショップ */
    .favorite-introduction {
        font-size: 1.2remrem;
        width: 50%;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    /* 設定画面 */
    .config-img p {
        font-size: 1.5rem;
    }
    /* コーディネート一覧 */
    .coordinate-content {
        height: 400px;
    }
    .add-coordinate {
        height: 400px;
    }
}
